@import 'common.scss';

#hand {
    display: flex;
    gap: 95px;

    h1 {
        font-weight: 500;
        line-height: normal;
        font-size: 72px;
        font-family: 'Jura', sans-serif;
        font-style: normal;
        color: #E6B9FF;
        margin-bottom: 64px;
    }

    p {
        margin-bottom: 60px;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25.6px;
    }

    a {
        text-decoration: none;
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 20px */
        letter-spacing: 0.3px;
    }

    .instruction {
        margin-top: 16px;
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .hand-action {
        display: flex;
        margin-left: -33px;
    }

    .hand-image {
        margin-top: -107px;
        display: flex;
        flex-direction: column; 
    }
}
